<form class="fieldset bg-base-200 border-base-300 rounded-box w-xs border p-4">
  <fieldset class="fieldset">
    <label class="label">Email</label>
    <input type="email" class="input validator" placeholder="Email" required />
    <p class="validator-hint hidden">Required</p>
  </fieldset>

  <label class="fieldset">
    <span class="label">Password</span>
    <input type="password" class="input validator" placeholder="Password" required />
    <span class="validator-hint hidden">Required</span>
  </label>

  <button class="btn btn-neutral mt-4" type="submit">Login</button>
  <button class="btn btn-ghost mt-1" type="reset">Reset</button>
</form>