<div class="flex flex-col gap-2">
  <div class="megamenu megamenu-sm p-2 border border-base-300" id="my-megamenu-sm" popover="manual">
    <span class="megamenu-active"></span>
    <button popovertarget="c1">One</button>
    <div id="c1" popover>
      <ul class="menu">
        <li><a>Link</a></li>
      </ul>
    </div>
    <button popovertarget="c2">Two</button>
    <div id="c2" popover>
      <ul class="menu">
        <li><a>Link</a></li>
      </ul>
    </div>
  </div>

  <div class="megamenu megamenu-lg p-2 border border-base-300" id="my-megamenu-lg" popover="manual">
    <span class="megamenu-active"></span>
    <button popovertarget="c3">One</button>
    <div id="c3" popover>
      <ul class="menu">
        <li><a>Link</a></li>
      </ul>
    </div>
    <button popovertarget="c4">Two</button>
    <div id="c4" popover>
      <ul class="menu">
        <li><a>Link</a></li>
      </ul>
    </div>
  </div>
</div>
