<ul class="menu menu-paged bg-base-200 rounded-box w-56">
  <li><a>Item 1</a></li>
  <li>
    <details>
      <summary>Parent</summary>
      <ul>
        <li><a>Submenu 1</a></li>
        <li><a>Submenu 2</a></li>
        <li>
          <details>
            <summary aria-label="Back to Parent">Nested parent</summary>
            <ul>
              <li><a>Nested 1</a></li>
              <li><a>Nested 2</a></li>
            </ul>
          </details>
        </li>
      </ul>
    </details>
  </li>
  <li><a>Item 3</a></li>
</ul>
