<label class="floating-label">
  <input type="text" placeholder="Extra Small" class="input input-xs" />
  <span>Extra Small</span>
</label>
<label class="floating-label">
  <input type="text" placeholder="Small" class="input input-sm" />
  <span>Small</span>
</label>
<label class="floating-label">
  <input type="text" placeholder="Medium" class="input input-md" />
  <span>Medium</span>
</label>
<label class="floating-label">
  <input type="text" placeholder="Large" class="input input-lg" />
  <span>Large</span>
</label>
<label class="floating-label">
  <input type="text" placeholder="Extra Large" class="input input-xl" />
  <span>Extra Large</span>
</label>