<div class="flex flex-wrap gap-6 items-center">
  <div class="aura">
    <button class="btn">default</button>
  </div>
  <div class="aura aura-rainbow">
    <button class="btn">rainbow</button>
  </div>
  <div class="aura aura-holo">
    <button class="btn">holo</button>
  </div>
  <div class="aura aura-dual">
    <button class="btn">dual</button>
  </div>
  <div class="aura aura-silver">
    <button class="btn">silver</button>
  </div>
  <div class="aura aura-gold">
    <button class="btn">gold</button>
  </div>
  <div class="aura aura-glow">
    <button class="btn">glow</button>
  </div>
</div>
