<textarea placeholder="Primary" class="textarea textarea-primary"></textarea>
<textarea placeholder="Secondary" class="textarea textarea-secondary"></textarea>
<textarea placeholder="Accent" class="textarea textarea-accent"></textarea>
<textarea placeholder="Neutral" class="textarea textarea-neutral"></textarea>
<textarea placeholder="Info" class="textarea textarea-info"></textarea>
<textarea placeholder="Success" class="textarea textarea-success"></textarea>
<textarea placeholder="Warning" class="textarea textarea-warning"></textarea>
<textarea placeholder="Error" class="textarea textarea-error"></textarea>