/* Component: breadcrumbs */

@utility breadcrumbs {
  max-width: 100%;
  overflow-x: auto;
  padding-block: 0.5rem;

  > menu,
  > ul,
  > ol {
    display: flex;
    min-height: min-content;
    align-items: center;
    white-space: nowrap;

    > li {
      display: flex;
      align-items: center;

      > * {
        display: flex;
        cursor: pointer;
        align-items: center;
        gap: 0.5rem;

        @media (hover: hover) {
          &:hover {
            text-decoration-line: underline;
          }
        }

        &:focus {
          outline-style: none;
          @media (forced-colors: active) {
            outline: 2px solid transparent;
            outline-offset: 2px;
          }
        }

        &:focus-visible {
          outline: 2px solid currentColor;
          outline-offset: 2px;
        }
      }

      & + *:before {
        content: "";
        margin-right: 0.75rem;
        margin-left: 0.5rem;
        display: block;
        height: 0.375rem;
        width: 0.375rem;
        opacity: 40%;
        rotate: 45deg;
        border-top: 1px solid;
        border-right: 1px solid;
        background-color: transparent;
      }

      [dir="rtl"] & + *:before {
        rotate: -135deg;
      }
    }
  }
}
