/* Component: carousel */

@utility carousel {
  display: inline-flex !important;
  overflow-x: scroll;
  scroll-snap-type: x mandatory;
  scrollbar-width: none;
  @media (prefers-reduced-motion: no-preference) {
    scroll-behavior: smooth;
  }
  &::-webkit-scrollbar {
    display: none;
  }
}

@utility carousel-item {
  box-sizing: content-box;
  display: flex;
  flex: none;
  scroll-snap-align: start;
}

@utility carousel-start {
  .carousel-item {
    scroll-snap-align: start;
  }
}

@utility carousel-center {
  .carousel-item {
    scroll-snap-align: center;
  }
}

@utility carousel-end {
  .carousel-item {
    scroll-snap-align: end;
  }
}

@utility carousel-horizontal {
  flex-direction: row;
  overflow-x: scroll;
  scroll-snap-type: x mandatory;
}

@utility carousel-vertical {
  flex-direction: column;
  overflow-y: scroll;
  scroll-snap-type: y mandatory;
}
