/* Component: dock */

@utility dock {
  position: fixed;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 1;
  display: flex;
  width: 100%;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  background-color: var(--color-base-100);
  padding: 0.5rem;
  color: currentcolor;
  border-top: 0.5px solid color-mix(in oklab, var(--color-base-content) 5%, #0000);
  height: 4rem;
  height: calc(4rem + env(safe-area-inset-bottom));
  padding-bottom: env(safe-area-inset-bottom);

  > * {
    position: relative;
    margin-bottom: 0.5rem;
    display: flex;
    height: 100%;
    max-width: 8rem;
    flex-shrink: 1;
    flex-basis: 100%;
    cursor: pointer;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 1px;
    border-radius: var(--radius-box);
    background-color: transparent;
    transition: opacity 0.2s ease-out;

    &:after {
      content: "";
      position: absolute;
      height: 0.25rem;
      width: 1.5rem;
      border-radius: calc(infinity * 1px);
      background-color: transparent;
      bottom: 0.2rem;
      border-top: 3px solid transparent;
      transition: background-color 0.1s ease-out, width 0.1s ease-out;
    }
  }

  @media (hover: hover) {
    > *:hover {
      opacity: 80%;
    }
  }

  > *[aria-disabled="true"],
  > *[disabled] {
    pointer-events: none;
    color: color-mix(in oklab, var(--color-base-content) 10%, transparent);
    opacity: 100%;
  }
}

@utility dock-label {
  font-size: 0.6875rem;
}

@utility dock-active {
  &:after {
    width: 2.5rem;
    background-color: currentcolor;
  }
}

/* Size variants */
@utility dock-xs {
  height: 3rem;
  height: calc(3rem + env(safe-area-inset-bottom));
  .dock-active {
    &:after {
      bottom: -0.1rem;
    }
  }
  .dock-label {
    font-size: 0.625rem;
  }
}

@utility dock-sm {
  height: 3.5rem;
  height: calc(3.5rem + env(safe-area-inset-bottom));
  .dock-active {
    &:after {
      bottom: -0.1rem;
    }
  }
  .dock-label {
    font-size: 0.625rem;
  }
}

@utility dock-md {
  height: 4rem;
  height: calc(4rem + env(safe-area-inset-bottom));
  .dock-label {
    font-size: 0.6875rem;
  }
}

@utility dock-lg {
  height: 4.5rem;
  height: calc(4.5rem + env(safe-area-inset-bottom));
  .dock-active {
    &:after {
      bottom: 0.4rem;
    }
  }
  .dock-label {
    font-size: 0.6875rem;
  }
}

@utility dock-xl {
  height: 5rem;
  height: calc(5rem + env(safe-area-inset-bottom));
  .dock-active {
    &:after {
      bottom: 0.4rem;
    }
  }
  .dock-label {
    font-size: 0.75rem;
  }
}
