/* Component: fieldset */

@utility fieldset {
  display: grid;
  gap: 0.375rem;
  padding-block: 0.25rem;
  font-size: 0.75rem;
  grid-template-columns: 1fr;
  grid-auto-rows: max-content;
}

@utility fieldset-legend {
  margin-bottom: -0.25rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 0.5rem;
  padding-block: 0.5rem;
  color: var(--color-base-content);
  font-weight: 600;
}

@utility fieldset-label {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  padding-block: 0.25rem;
  color: var(--color-base-content);

  @supports (color: color-mix(in lab, red, red)) {
    color: color-mix(in oklab, var(--color-base-content) 60%, transparent);
  }
}
