/* Component: indicator */

@utility indicator {
  position: relative;
  display: inline-flex;
  width: max-content;
  :where(.indicator-item) {
    z-index: 1;
    position: absolute;
    white-space: nowrap;
    top: var(--indicator-t, 0);
    bottom: var(--indicator-b, auto);
    left: var(--indicator-s, auto);
    right: var(--indicator-e, 0);
    translate: var(--indicator-x, 50%) var(--indicator-y, -50%);
  }
}

@utility indicator-item {
  z-index: 1;
  position: absolute;
  white-space: nowrap;
  top: var(--indicator-t, 0);
  bottom: var(--indicator-b, auto);
  left: var(--indicator-s, auto);
  right: var(--indicator-e, 0);
  translate: var(--indicator-x, 50%) var(--indicator-y, -50%);
}

/* Horizontal position */
@utility indicator-start {
  --indicator-s: 0;
  --indicator-e: auto;
  --indicator-x: -50%;
  [dir="rtl"] & {
    --indicator-s: auto;
    --indicator-e: 0;
    --indicator-x: 50%;
  }
}

@utility indicator-center {
  --indicator-s: 50%;
  --indicator-e: 50%;
  --indicator-x: -50%;
  [dir="rtl"] & {
    --indicator-x: 50%;
  }
}

@utility indicator-end {
  --indicator-s: auto;
  --indicator-e: 0;
  --indicator-x: 50%;
  [dir="rtl"] & {
    --indicator-s: 0;
    --indicator-e: auto;
    --indicator-x: -50%;
  }
}

/* Vertical position */
@utility indicator-top {
  --indicator-t: 0;
  --indicator-b: auto;
  --indicator-y: -50%;
}

@utility indicator-middle {
  --indicator-t: 50%;
  --indicator-b: 50%;
  --indicator-y: -50%;
}

@utility indicator-bottom {
  --indicator-t: auto;
  --indicator-b: 0;
  --indicator-y: 50%;
}
