/* Component: join */

/* Base join container */
@utility join {
  display: inline-flex;
  align-items: stretch;
  --join-ss: 0;
  --join-se: 0;
  --join-es: 0;
  --join-ee: 0;

  :where(.join-item) {
    border-start-start-radius: var(--join-ss, 0);
    border-start-end-radius: var(--join-se, 0);
    border-end-start-radius: var(--join-es, 0);
    border-end-end-radius: var(--join-ee, 0);

    * {
      --join-ss: var(--radius-field);
      --join-se: var(--radius-field);
      --join-es: var(--radius-field);
      --join-ee: var(--radius-field);
    }
  }

  > .join-item:where(:first-child) {
    --join-ss: var(--radius-field);
    --join-se: 0;
    --join-es: var(--radius-field);
    --join-ee: 0;
  }

  :first-child:not(:last-child) {
    :where(.join-item) {
      --join-ss: var(--radius-field);
      --join-se: 0;
      --join-es: var(--radius-field);
      --join-ee: 0;
    }
  }

  > .join-item:where(:last-child) {
    --join-ss: 0;
    --join-se: var(--radius-field);
    --join-es: 0;
    --join-ee: var(--radius-field);
  }

  :last-child:not(:first-child) {
    :where(.join-item) {
      --join-ss: 0;
      --join-se: var(--radius-field);
      --join-es: 0;
      --join-ee: var(--radius-field);
    }
  }

  > .join-item:where(:only-child) {
    --join-ss: var(--radius-field);
    --join-se: var(--radius-field);
    --join-es: var(--radius-field);
    --join-ee: var(--radius-field);
  }

  :only-child {
    :where(.join-item) {
      --join-ss: var(--radius-field);
      --join-se: var(--radius-field);
      --join-es: var(--radius-field);
      --join-ee: var(--radius-field);
    }
  }

  > :where(:focus, :has(:focus)) {
    z-index: 1;
  }

  @media (hover: hover) {
    > :where(.btn:hover, :has(.btn:hover)) {
      isolation: isolate;
    }
  }
}

/* Join item */
@utility join-item {
  border-start-start-radius: var(--join-ss, var(--radius-field));
  border-start-end-radius: var(--join-se, var(--radius-field));
  border-end-start-radius: var(--join-es, var(--radius-field));
  border-end-end-radius: var(--join-ee, var(--radius-field));
}

/* Border overlap for horizontal join (default) - pull items left by border width */
.join .join-item:where(*:not(:first-child, :disabled, [disabled], .btn-disabled)) {
  margin-inline-start: calc(var(--border, 1px) * -1);
  margin-block-start: 0;
}

/* Vertical join (stacked) */
@utility join-vertical {
  flex-direction: column;

  > .join-item:first-child {
    --join-ss: var(--radius-field);
    --join-se: var(--radius-field);
    --join-es: 0;
    --join-ee: 0;
  }

  :first-child:not(:last-child) {
    .join-item {
      --join-ss: var(--radius-field);
      --join-se: var(--radius-field);
      --join-es: 0;
      --join-ee: 0;
    }
  }

  > .join-item:last-child {
    --join-ss: 0;
    --join-se: 0;
    --join-es: var(--radius-field);
    --join-ee: var(--radius-field);
  }

  :last-child:not(:first-child) {
    .join-item {
      --join-ss: 0;
      --join-se: 0;
      --join-es: var(--radius-field);
      --join-ee: var(--radius-field);
    }
  }

  > .join-item:only-child {
    --join-ss: var(--radius-field);
    --join-se: var(--radius-field);
    --join-es: var(--radius-field);
    --join-ee: var(--radius-field);
  }

  :only-child {
    .join-item {
      --join-ss: var(--radius-field);
      --join-se: var(--radius-field);
      --join-es: var(--radius-field);
      --join-ee: var(--radius-field);
    }
  }

}

/* Vertical join border overlap - pull items up by border width */
.join-vertical .join-item:where(*:not(:first-child)) {
  margin-inline-start: 0;
  margin-block-start: calc(var(--border, 1px) * -1);
}

/* Horizontal join (side by side) */
@utility join-horizontal {
  flex-direction: row;

  > .join-item:first-child {
    --join-ss: var(--radius-field);
    --join-se: 0;
    --join-es: var(--radius-field);
    --join-ee: 0;
  }

  :first-child:not(:last-child) {
    .join-item {
      --join-ss: var(--radius-field);
      --join-se: 0;
      --join-es: var(--radius-field);
      --join-ee: 0;
    }
  }

  > .join-item:last-child {
    --join-ss: 0;
    --join-se: var(--radius-field);
    --join-es: 0;
    --join-ee: var(--radius-field);
  }

  :last-child:not(:first-child) {
    .join-item {
      --join-ss: 0;
      --join-se: var(--radius-field);
      --join-es: 0;
      --join-ee: var(--radius-field);
    }
  }

  > .join-item:only-child {
    --join-ss: var(--radius-field);
    --join-se: var(--radius-field);
    --join-es: var(--radius-field);
    --join-ee: var(--radius-field);
  }

  :only-child {
    .join-item {
      --join-ss: var(--radius-field);
      --join-se: var(--radius-field);
      --join-es: var(--radius-field);
      --join-ee: var(--radius-field);
    }
  }

}

/* Horizontal join border overlap - pull items left by border width */
.join-horizontal .join-item:where(*:not(:first-child)) {
  margin-inline-start: calc(var(--border, 1px) * -1);
  margin-block-start: 0;
}

/* Responsive lg:join-horizontal variant */
@media (width >= 64rem) {
  .lg\:join-horizontal {
    flex-direction: row;
  }

  .lg\:join-horizontal > .join-item:first-child {
    --join-ss: var(--radius-field);
    --join-se: 0;
    --join-es: var(--radius-field);
    --join-ee: 0;
  }

  .lg\:join-horizontal > .join-item:last-child {
    --join-ss: 0;
    --join-se: var(--radius-field);
    --join-es: 0;
    --join-ee: var(--radius-field);
  }

  .lg\:join-horizontal > .join-item:only-child {
    --join-ss: var(--radius-field);
    --join-se: var(--radius-field);
    --join-es: var(--radius-field);
    --join-ee: var(--radius-field);
  }

  .lg\:join-horizontal .join-item:where(*:not(:first-child)) {
    margin-inline-start: calc(var(--border, 1px) * -1);
    margin-block-start: 0;
  }
}
