/* Component: menu */

/* Base menu */
@utility menu {
  display: flex;
  width: fit-content;
  flex-direction: column;
  flex-wrap: wrap;
  padding: 0.5rem;
  --menu-active-fg: var(--color-neutral-content);
  --menu-active-bg: var(--color-neutral);
  font-size: 0.875rem;

  :where(li ul) {
    position: relative;
    margin-inline-start: 1rem;
    padding-inline-start: 0.5rem;
    white-space: nowrap;

    &:before {
      position: absolute;
      inset-inline-start: 0;
      top: 0.75rem;
      bottom: 0.75rem;
      background-color: var(--color-base-content);
      opacity: 10%;
      width: var(--border);
      content: "";
    }
  }

  :where(li > .menu-dropdown:not(.menu-dropdown-show)) {
    display: none;
  }

  :where(li:not(.menu-title) > *:not(ul, details, .menu-title, .btn)),
  :where(li:not(.menu-title) > details > summary:not(.menu-title)) {
    display: grid;
    grid-auto-flow: column;
    align-content: flex-start;
    align-items: center;
    gap: 0.5rem;
    border-radius: var(--radius-field);
    padding-inline: 0.75rem;
    padding-block: 0.375rem;
    text-align: start;
    transition-property: color, background-color, box-shadow;
    transition-duration: 0.2s;
    transition-timing-function: cubic-bezier(0, 0, 0.2, 1);
    grid-auto-columns: minmax(auto, max-content) auto max-content;
    text-wrap: balance;
    user-select: none;
  }

  :where(li > details > summary) {
    outline-style: none;

    @media (forced-colors: active) {
      outline: 2px solid transparent;
      outline-offset: 2px;
    }

    &::-webkit-details-marker {
      display: none;
    }
  }

  :where(li > details > summary),
  :where(li > .menu-dropdown-toggle) {
    &:after {
      justify-self: flex-end;
      display: block;
      height: 0.375rem;
      width: 0.375rem;
      rotate: -135deg;
      translate: 0 -1px;
      transition-property: rotate, translate;
      transition-duration: 0.2s;
      content: "";
      transform-origin: 50% 50%;
      box-shadow: 2px 2px inset;
      pointer-events: none;
    }
  }

  details {
    overflow: hidden;
    interpolate-size: allow-keywords;
  }

  details::details-content {
    block-size: 0;

    @media (prefers-reduced-motion: no-preference) {
      transition-behavior: allow-discrete;
      transition-property: block-size, content-visibility;
      transition-duration: 0.2s;
      transition-timing-function: cubic-bezier(0, 0, 0.2, 1);
    }
  }

  details[open]::details-content {
    block-size: auto;
  }

  :where(li > details[open] > summary):after,
  :where(li > .menu-dropdown-toggle.menu-dropdown-show):after {
    rotate: 45deg;
    translate: 0 1px;
  }

  :where(li:not(.menu-title, .disabled) > *:not(ul, details, .menu-title), li:not(.menu-title, .disabled) > details > summary:not(.menu-title)):not(.menu-active, :active, .btn) {
    &.menu-focus,
    &:focus-visible {
      cursor: pointer;
      background-color: var(--color-base-content);
      color: var(--color-base-content);
      outline-style: none;

      @supports (color: color-mix(in lab, red, red)) {
        background-color: color-mix(in oklab, var(--color-base-content) 10%, transparent);
      }

      @media (forced-colors: active) {
        outline: 2px solid transparent;
        outline-offset: 2px;
      }
    }
  }

  :where(li:not(.menu-title, .disabled) > *:not(ul, details, .menu-title):not(.menu-active, :active, .btn):hover, li:not(.menu-title, .disabled) > details > summary:not(.menu-title):not(.menu-active, :active, .btn):hover) {
    cursor: pointer;
    background-color: var(--color-base-content);
    outline-style: none;
    box-shadow: 0 1px oklch(0% 0 0 / 0.01) inset, 0 -1px oklch(100% 0 0 / 0.01) inset;

    @supports (color: color-mix(in lab, red, red)) {
      background-color: color-mix(in oklab, var(--color-base-content) 10%, transparent);
    }

    @media (forced-colors: active) {
      outline: 2px solid transparent;
      outline-offset: 2px;
    }
  }

  :where(li:empty) {
    background-color: var(--color-base-content);
    opacity: 10%;
    margin: 0.5rem 1rem;
    height: 1px;
  }

  :where(li) {
    position: relative;
    display: flex;
    flex-shrink: 0;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: stretch;

    .badge {
      justify-self: flex-end;
    }

    & > *:not(ul, .menu-title, details, .btn):active,
    & > *:not(ul, .menu-title, details, .btn).menu-active,
    & > details > summary:active {
      outline-style: none;
      color: var(--menu-active-fg);
      background-color: var(--menu-active-bg);
      background-size: auto, calc(var(--noise) * 100%);
      background-image: none, var(--fx-noise);

      @media (forced-colors: active) {
        outline: 2px solid transparent;
        outline-offset: 2px;
      }

      &:not(&:active) {
        box-shadow: 0 2px calc(var(--depth) * 3px) -2px var(--menu-active-bg);
      }
    }

    &.menu-disabled {
      pointer-events: none;
      color: var(--color-base-content);

      @supports (color: color-mix(in lab, red, red)) {
        color: color-mix(in oklab, var(--color-base-content) 20%, transparent);
      }
    }
  }

  .dropdown:focus-within {
    .menu-dropdown-toggle:after {
      rotate: 45deg;
      translate: 0 1px;
    }
  }
}

/* Menu title */
@utility menu-title {
  padding: 0.5rem 0.75rem;
  font-size: 0.75rem;
  font-weight: 700;
  opacity: 40%;
}

/* Menu active */
@utility menu-active {
  :where(:not(ul, details, .menu-title, .btn))& {
    color: var(--menu-active-fg);
    background-color: var(--menu-active-bg);
  }
}

/* Orientation variants */
@utility menu-horizontal {
  display: inline-flex;
  flex-direction: row;

  & > li:not(.menu-title) > details {
    > ul {
      position: absolute;
      inset-inline-start: 0;
      margin-inline-start: 0;
      margin-top: 1rem;
      transform-origin: top;
      border-radius: var(--radius-box);
      background-color: var(--color-base-100);
      padding-block: 0.5rem;
      padding-inline-end: 0.5rem;
      opacity: 0%;
      scale: 95%;
      box-shadow: 0 1px 3px 0 oklch(0% 0 0/0.1), 0 1px 2px -1px oklch(0% 0 0/0.1);

      @media (prefers-reduced-motion: no-preference) {
        @starting-style {
          scale: 95%;
          opacity: 0;
        }
        animation: menu 0.2s;
        transition-property: opacity, scale, display;
        transition-behavior: allow-discrete;
        transition-duration: 0.2s;
      }
    }
  }

  & > li:not(.menu-title) > details[open] > ul {
    opacity: 100%;
    scale: 100%;
  }
}

@utility menu-vertical {
  display: flex;
  flex-direction: column;

  & > li:not(.menu-title) > details > ul {
    margin-inline-start: 1rem;
    padding-inline-start: 0.5rem;
  }
}

/* Size variants */
@utility menu-xs {
  :where(li:not(.menu-title) > *:not(ul, details, .menu-title)),
  :where(li:not(.menu-title) > details > summary:not(.menu-title)) {
    padding-inline: 0.5rem;
    padding-block: 0.25rem;
    font-size: 0.75rem;
  }

  .menu-title {
    padding: 0.25rem 0.5rem;
  }
}

@utility menu-sm {
  :where(li:not(.menu-title) > *:not(ul, details, .menu-title)),
  :where(li:not(.menu-title) > details > summary:not(.menu-title)) {
    padding-inline: 0.625rem;
    padding-block: 0.25rem;
    font-size: 0.75rem;
  }

  .menu-title {
    padding: 0.375rem 0.625rem;
  }
}

@utility menu-md {
  :where(li:not(.menu-title) > *:not(ul, details, .menu-title)),
  :where(li:not(.menu-title) > details > summary:not(.menu-title)) {
    padding-inline: 0.75rem;
    padding-block: 0.375rem;
    font-size: 0.875rem;
  }

  .menu-title {
    padding: 0.5rem 0.75rem;
  }
}

@utility menu-lg {
  :where(li:not(.menu-title) > *:not(ul, details, .menu-title)),
  :where(li:not(.menu-title) > details > summary:not(.menu-title)) {
    padding-inline: 1rem;
    padding-block: 0.5rem;
    font-size: 1rem;
  }

  .menu-title {
    padding: 0.625rem 1rem;
  }
}

@utility menu-xl {
  :where(li:not(.menu-title) > *:not(ul, details, .menu-title)),
  :where(li:not(.menu-title) > details > summary:not(.menu-title)) {
    padding-inline: 1.25rem;
    padding-block: 0.625rem;
    font-size: 1.125rem;
  }

  .menu-title {
    padding: 0.75rem 1.25rem;
  }
}
