/* Component: mockup-browser */

@utility mockup-browser {
  position: relative;
  overflow: hidden;
  overflow-x: auto;
  border-radius: var(--radius-box);
  pre[data-prefix] {
    &:before {
      --tw-content: attr(data-prefix);
      content: var(--tw-content);
      display: inline-block;
      text-align: right;
    }
  }
  .mockup-browser-toolbar {
    margin-block: calc(0.25rem * 3);
    display: inline-flex;
    width: 100%;
    align-items: center;
    padding-right: 1.4em;
    &:where(:dir(rtl), [dir="rtl"], [dir="rtl"] *) {
      flex-direction: row-reverse;
    }
    &:before {
      content: "";
      margin-right: 4.8rem;
      display: inline-block;
      aspect-ratio: 1 / 1;
      height: calc(0.25rem * 3);
      border-radius: calc(infinity * 1px);
      opacity: 30%;
      box-shadow: 1.4em 0 currentColor, 2.8em 0 currentColor, 4.2em 0 currentColor;
    }
    .input {
      margin-inline: auto;
      display: flex;
      height: 100%;
      align-items: center;
      gap: calc(0.25rem * 2);
      overflow: hidden;
      background-color: var(--color-base-200);
      text-overflow: ellipsis;
      white-space: nowrap;
      font-size: 0.75rem;
      direction: ltr;
      &:before {
        content: "";
        width: calc(0.25rem * 4);
        height: calc(0.25rem * 4);
        opacity: 50%;
        background-color: currentColor;
        mask: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16'%3E%3Cpath fill-rule='evenodd' d='M9.965 11.026a5 5 0 1 1 1.06-1.06l2.755 2.754a.75.75 0 1 1-1.06 1.06l-2.755-2.754ZM10.5 7a3.5 3.5 0 1 1-7 0 3.5 3.5 0 0 1 7 0Z' clip-rule='evenodd' /%3E%3C/svg%3E") no-repeat center;
        mask-size: contain;
      }
    }
  }
}

@utility mockup-browser-toolbar {
  margin-block: calc(0.25rem * 3);
  display: inline-flex;
  width: 100%;
  align-items: center;
  padding-right: 1.4em;
  &:where(:dir(rtl), [dir="rtl"], [dir="rtl"] *) {
    flex-direction: row-reverse;
  }
  &:before {
    content: "";
    margin-right: 4.8rem;
    display: inline-block;
    aspect-ratio: 1 / 1;
    height: calc(0.25rem * 3);
    border-radius: calc(infinity * 1px);
    opacity: 30%;
    box-shadow: 1.4em 0 currentColor, 2.8em 0 currentColor, 4.2em 0 currentColor;
  }
}
