/* Component: mockup-phone */

@utility mockup-phone {
  display: inline-grid;
  justify-items: center;
  border: 5px solid #6b6b6b;
  border-radius: 65px;
  background-color: #000;
  padding: 6px;
  overflow: hidden;
  width: 100%;
  max-width: 462px;
  aspect-ratio: 462 / 978;
  @supports (corner-shape: superellipse(1.45)) {
    border-radius: 90px;
    corner-shape: superellipse(1.45);
  }
}

@utility mockup-phone-camera {
  grid-column: 1/1;
  grid-row: 1/1;
  background: #000;
  height: 3.7%;
  width: 28%;
  border-radius: 17px;
  z-index: 1;
  margin-top: 3%;
}

@utility mockup-phone-display {
  border-radius: 54px;
  grid-column: 1/1;
  grid-row: 1/1;
  overflow: hidden;
  width: 100%;
  height: 100%;
  @supports (corner-shape: superellipse(1.87)) {
    border-radius: 101px;
    corner-shape: superellipse(1.87);
  }
  & > img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
}
