/* Component: radio */

/* Base radio */
@utility radio {
  position: relative;
  display: inline-block;
  flex-shrink: 0;
  cursor: pointer;
  appearance: none;
  border-radius: calc(infinity * 1px);
  padding: 0.25rem;
  vertical-align: middle;
  border: var(--border) solid color-mix(in srgb, var(--input-color, var(--color-base-content)) 20%, transparent);
  box-shadow: 0 1px oklch(0% 0 0 / calc(var(--depth) * 0.1)) inset;
  --size: calc(var(--size-selector, 0.25rem) * 6);
  width: var(--size);
  height: var(--size);
  color: var(--input-color, var(--color-base-content));

  &:before {
    display: block;
    width: 100%;
    height: 100%;
    border-radius: calc(infinity * 1px);
    content: "";
    background-size: auto, calc(var(--noise) * 100%);
    background-image: none, var(--fx-noise);
  }

  &:focus-visible {
    outline: 2px solid currentColor;
  }

  &:checked,
  &[aria-checked="true"] {
    border-color: currentcolor;
    background-color: var(--color-base-100);

    @media (prefers-reduced-motion: no-preference) {
      animation: radio 0.2s ease-out;
    }

    &:before {
      background-color: currentcolor;
      box-shadow: 0 -1px oklch(0% 0 0 / calc(var(--depth) * 0.1)) inset, 0 8px 0 -4px oklch(100% 0 0 / calc(var(--depth) * 0.1)) inset, 0 1px oklch(0% 0 0 / calc(var(--depth) * 0.1));
    }

    @media (forced-colors: active) {
      &:before {
        outline-style: solid;
        outline-width: 1px;
        outline-offset: -1px;
      }
    }

    @media print {
      &:before {
        outline: 0.25rem solid;
        outline-offset: -1rem;
      }
    }
  }

  &:disabled {
    cursor: not-allowed;
    opacity: 20%;
  }
}

@keyframes radio {
  0% {
    transform: scale(0.9);
  }
  100% {
    transform: scale(1);
  }
}

/* Color variants */
@utility radio-primary {
  --input-color: var(--color-primary);
}

@utility radio-secondary {
  --input-color: var(--color-secondary);
}

@utility radio-accent {
  --input-color: var(--color-accent);
}

@utility radio-neutral {
  --input-color: var(--color-neutral);
}

@utility radio-info {
  --input-color: var(--color-info);
}

@utility radio-success {
  --input-color: var(--color-success);
}

@utility radio-warning {
  --input-color: var(--color-warning);
}

@utility radio-error {
  --input-color: var(--color-error);
}

/* Size variants */
@utility radio-xs {
  padding: 0.125rem;

  &:is([type="radio"]) {
    --size: calc(var(--size-selector, 0.25rem) * 4);
  }
}

@utility radio-sm {
  padding: 0.1875rem;

  &:is([type="radio"]) {
    --size: calc(var(--size-selector, 0.25rem) * 5);
  }
}

@utility radio-md {
  padding: 0.25rem;

  &:is([type="radio"]) {
    --size: calc(var(--size-selector, 0.25rem) * 6);
  }
}

@utility radio-lg {
  padding: 0.3125rem;

  &:is([type="radio"]) {
    --size: calc(var(--size-selector, 0.25rem) * 7);
  }
}

@utility radio-xl {
  padding: 0.375rem;

  &:is([type="radio"]) {
    --size: calc(var(--size-selector, 0.25rem) * 8);
  }
}
