/* Component: skeleton */

@keyframes skeleton {
  from {
    background-position-x: -50%;
  }
  to {
    background-position-x: 150%;
  }
}

/* Base skeleton */
@utility skeleton {
  border-radius: var(--radius-box);
  background-color: var(--color-base-300);
  will-change: background-position;
  background-image: linear-gradient(105deg, #0000 0% 40%, var(--color-base-100) 50%, #0000 60% 100%);
  background-size: 200% auto;
  background-position-x: -50%;

  @media (prefers-reduced-motion: reduce) {
    transition-duration: 15s;
  }

  @media (prefers-reduced-motion: no-preference) {
    animation: skeleton 1.8s ease-in-out infinite;
  }
}

/* Skeleton text variant */
@utility skeleton-text {
  background-clip: text;
  -webkit-background-clip: text;
  color: transparent;
  background-image: linear-gradient(105deg, var(--color-base-content) 0% 40%, var(--color-base-content) 50%, var(--color-base-content) 60% 100%);

  @supports (color: color-mix(in lab, red, red)) {
    background-image: linear-gradient(105deg, color-mix(in oklab, var(--color-base-content) 20%, transparent) 0% 40%, var(--color-base-content) 50%, color-mix(in oklab, var(--color-base-content) 20%, transparent) 60% 100%);
  }
}
