/* Component: stack */

/* Base stack */
@utility stack {
  display: inline-grid;
  grid-template-columns: 3px 4px 1fr 4px 3px;
  grid-template-rows: 3px 4px 1fr 4px 3px;

  & > * {
    height: 100%;
    width: 100%;
    /* Default (stack-bottom) positioning */
    grid-column: 3 / 4;
    grid-row: 3 / 6;
  }

  & > *:nth-child(n + 2) {
    width: 100%;
    opacity: 70%;
  }

  & > *:nth-child(2) {
    z-index: 2;
    opacity: 90%;
    grid-column: 2 / 5;
    grid-row: 2 / 5;
  }

  & > *:nth-child(1) {
    z-index: 3;
    width: 100%;
    grid-column: 1 / 6;
    grid-row: 1 / 4;
  }
}

/* Stack top */
@utility stack-top {
  & > * {
    grid-column: 3 / 4;
    grid-row: 1 / 4;
  }

  & > *:nth-child(2) {
    grid-column: 2 / 5;
    grid-row: 2 / 5;
  }

  & > *:nth-child(1) {
    grid-column: 1 / 6;
    grid-row: 3 / 6;
  }
}

/* Stack start */
@utility stack-start {
  & > * {
    grid-column: 1 / 4;
    grid-row: 3 / 4;
  }

  & > *:nth-child(2) {
    grid-column: 2 / 5;
    grid-row: 2 / 5;
  }

  & > *:nth-child(1) {
    grid-column: 3 / 6;
    grid-row: 1 / 6;
  }
}

/* Stack end */
@utility stack-end {
  & > * {
    grid-column: 3 / 6;
    grid-row: 3 / 4;
  }

  & > *:nth-child(2) {
    grid-column: 2 / 5;
    grid-row: 2 / 5;
  }

  & > *:nth-child(1) {
    grid-column: 1 / 4;
    grid-row: 1 / 6;
  }
}
