<div class="flex flex-col gap-4 items-center">
  <label class="otp otp-xs">
    <span></span>
    <span></span>
    <span></span>
    <span></span>
    <input type="text" autocomplete="one-time-code" inputmode="numeric" maxlength="4" pattern="[0-9]{4}" required />
  </label>
  <label class="otp otp-sm">
    <span></span>
    <span></span>
    <span></span>
    <span></span>
    <input type="text" autocomplete="one-time-code" inputmode="numeric" maxlength="4" pattern="[0-9]{4}" required />
  </label>
  <label class="otp otp-md">
    <span></span>
    <span></span>
    <span></span>
    <span></span>
    <input type="text" autocomplete="one-time-code" inputmode="numeric" maxlength="4" pattern="[0-9]{4}" required />
  </label>
  <label class="otp otp-lg">
    <span></span>
    <span></span>
    <span></span>
    <span></span>
    <input type="text" autocomplete="one-time-code" inputmode="numeric" maxlength="4" pattern="[0-9]{4}" required />
  </label>
  <label class="otp otp-xl">
    <span></span>
    <span></span>
    <span></span>
    <span></span>
    <input type="text" autocomplete="one-time-code" inputmode="numeric" maxlength="4" pattern="[0-9]{4}" required />
  </label>
</div>
